.card {
  width: 100%;
  margin: 5px auto;
}
.card:hover {
  cursor: pointer;
  border: 5px solid skyblue;
  box-shadow: 3px 3px 5px 6px #ccc;
  background-color: darkslateblue;
  color: white;
}

.charactersContainer {
  display: flex;
  justify-content: center;
}

.battleContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 60%;
}

.heroBattle {
  width: 60%;
  margin: 20px;
  height: 300px;
}

.gameSection {
  padding-top: 20px;
  width: 100%;
  height: 100vh;
}

.healthBar {
  margin: 10px 5px;
  height: 30px;
  display: flex;
  color: white;
  background-color: transparent;
  border: 1px solid darkgray;
}

.battleButton {
  outline: none;
  background: firebrick;
  color: white;
  font-weight: 900;
  width: 120px;
  height: 70px;
  border: none;
  border-radius: 10px;
  margin: 5px 10px;
}
.battleButton:hover {
  color: firebrick;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid red;
  border-style: inset;
}
.battleButton:disabled {
  cursor: not-allowed;
  background-color: darkgray;
  border: none;
  color: white;
}

.nextLevel {
  outline: none;
  background: transparent;
  color: green;
  font-weight: 900;
  width: 120px;
  height: 70px;
  border: none;
  border-radius: 10px;
  margin: 5px 10px;
}

.nextLevel:hover {
  cursor: pointer;
  border: 1px solid green;
  background: green;
  color: white;
}
